.navbar{
    display: flex;
    background-color:white;
    position: fixed;
    padding-right: 53px;
    margin-top: -10px;
    

}
.logo{
    display: block;
    margin-left: 80px;
}
.navlist{
    list-style: none;
    display: flex;
    justify-content: right;
    align-content: right;
    margin-left: 300px;
}
.navlist li{
list-style: none;
display: flex;
align-items: right;
justify-content: right;
padding: 18px;
}
.navlist li a{
    list-style: none;
color:rgb(45, 45, 241);
text-decoration: none;
justify-content: right;
justify-items: right;
font-weight: 600;

}
.navlist li :hover{
    border-bottom: 2px solid blue;
   
}

.bg{
    background-image:url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 500px;
    padding-left: 50px;
    padding-top: 100px;
    font-size:xx-large;
}
.bg h2{
    
    text-decoration: underline;
    color: teal;
}
.btn button{
    width: 165px;
    height: 52px;
    font-size: 18px;
    background-color: transparent;
    border: solid wheat;
    border-radius: 30px;
    color: white;
}
button:hover{
    background-color:teal; 
    color: white;
    cursor: pointer;
   
}
.bottom1{
    margin-top: 30px;
    margin-left: 80px;
    justify-content: left;
    text-align: left;
    width: 50%;
    font-size:  19px;
    
    
}
.section2{
 
 background: url(img1.png);
 background-repeat: no-repeat;
 background-position-x: right;
 margin-bottom: 20px;
}
.logo1{
 padding-left: 50px;
 display: flex;
}
.logo1 p{
    width: 50%;
    font-size:  12px;

}
.service{
    align-content: center;
    text-align: center;
    font-size:x-large;
    padding-top: 12px;
}
.service p{
    padding-left: 350px;
    padding-right: 350px;
    font-size:  15px;
}
.logo2{
    display: flex;
    background-color: white;
    width: 40%;
    margin-left: 85px;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 50px;
}
.logo2 img{
    width: 70px;
    height: 80px;
    padding-left: 35px;
    
}
.logo2 h3{
    width: 30%;
    text-align: right;
    justify-content: right;
    align-items:right;
    display: initial;
    padding-left: 40px;
}
.logo2 p{
    width: 70%;
    padding-left: 15px;
}
.section3{
    color: white; 
    padding-top: 5px;
}
.section3 h4{
    font-size: xx-large;
    padding-top: 10px;
}
.section3 p{
    padding-left: 350px;
    padding-right: 350px;
}
.boxes{
    color: white;
    width: 30%;
    height: 230px;
    background-color: rgb(18, 54, 163);
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-left: 55px;
    margin-right: 55px;
    margin-top: 45px;
    margin-bottom: 55px;
}
.port{
    font-size :55px;
    justify-content: center;
    text-align: center;
    font-family:monospace;
    color: black;
   background-color: rgba(255, 255, 255, 0.781);
}
.btnss{
    align-items: center;
    display: flex;
    width: 80px;
    padding-left: 515px;
}
.btnss button{
    width: 70px;
    padding: 6px 10px;
    background-color: rgba(135, 206, 250, 0.507);
    color: blue;
    font-family:monospace;
    border-radius: 50px;
    font-weight: bold;
}
.btnss button:hover{
    background-color: blue;
    color: white;
}
.pics{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 50px;
}
.pic1{
height: 410px;
}
.pic2{
    height: 300px;

}
.pic3{
    height: 510px;

}
.testi{
    font-size :x-large;
    justify-content: center;
    text-align: center;
    color: black;
    margin-top: 15px;
    padding-top: 30px;
}
.test{
    display: flex;
    padding-top: 30px;
    margin-top: 30px;
    /* margin-bottom: 100px; */
    justify-content: center;
    align-content: center;
    padding-bottom: 65px;
}
.test img{
    width: 70px;
    height: 80px;
    padding-left: 35px;
    border-radius: 100px;
    width: 60%;
  
}
.test h3{
    width: 30%;
    text-align: left;
    justify-content: left;
    align-items:left;
    display: initial;

}
.test p{
    width: 70%;
    padding-left: 15px;

}
.team{
    padding-top: 30px;
    margin-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
.ending1{
    width: 30%;
    margin-left: 40px;
    padding-top: 25px;
    color: white;
}
.ending1 h1{
font-size: xx-large;
font-family:Georgia, 'Times New Roman', Times, serif;

}
.ending2{
color: white;
width: 15%;
padding-top: 25px;

}
.ending2 li{
    list-style: none;
    text-decoration: none;
    height: 38px;
    margin-right: 10px;
}
.ending2 h4{
    padding-left: 38px;

}
.ending3{
    width: 20%;
    padding-top: 25px;
    color: white;
}
.ending4{
    width: 30%;
    padding-top: 25px;
    color: white;
}
.lolo img{
    height: 40px;
    width: 55px;
}
.foot{
    background-color: blue;
padding-top: 15px;
padding-bottom: 1px;
    color: cornsilk;
    justify-content: center;
    align-items: center;
    text-align: center;
}
